header #navbar-main {
  max-width: 1250px;
  margin-top: -410px;
}
@media (max-width: 426px) {
  header #navbar-main {
    max-width: 1250px;
    margin-top: 0;
  }
}
header .navbar-expand-lg {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
header .navbar {
  margin: -10px auto;
  padding: 0 0 0 0;
  background: white !important;
}
@media (max-width: 769px) {
  header .navbar ul {
    text-align: center;
    margin: 0 0 0 0 !important;
  }
}
@media (max-width: 769px) {
  header .navbar .navbar-collapse .block-social-media-links-block ul {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 769px) {
  header .navbar .navbar-collapse .block-search form {
    align-items: center;
    justify-content: center;
  }
}
header .navbar .navbar-collapse .navbar-nav {
  margin: 0 35px 0 0;
}
@media (max-width: 1026px) {
  header .navbar .navbar-collapse .navbar-nav {
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
  }
}
@media (max-width: 768px) {
  header .navbar .navbar-collapse .navbar-nav {
    display: flex;
    margin: 0 0 0 0;
  }
}
header .navbar .navbar-collapse .navbar-nav .nav-item {
  display: block;
  padding: 39px 5px 23px 0;
  border-bottom: 10px solid transparent;
  transition: border-color 0.3s ease;
}
@media (max-width: 1025px) {
  header .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 0 0 0;
  }
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link-- {
  user-select: none;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/Homepage-menu.png");
}
header .navbar .navbar-collapse .navbar-nav .nav-item:hover {
  border-bottom: 10px solid #6E9BCA;
}
header .navbar .navbar-collapse .block-menu a {
  color: black;
  font-size: 17px;
  font-weight: 200;
}
header .navbar .block-social-media-links-block {
  margin: 8px 0 0 0;
}
header .navbar .site-name-slogan {
  margin: 45px 0 0 -215px;
  font-size: 16px;
  color: white;
}
@media (max-width: 768px) {
  header .navbar .site-name-slogan {
    margin: 0;
  }
}
@media (max-width: 426px) {
  header .navbar .site-name-slogan {
    margin: 45px 0 0 -375px;
  }
}
@media (max-width: 326px) {
  header .navbar .site-name-slogan {
    margin: 45px 0 0 -265px;
  }
}
header .navbar .navbar-brand {
  width: 240px;
  background-color: #373645;
  height: 115px;
  color: #0a7bc1;
  font-size: 36px;
  padding: 20px 0 0px 40px;
}
header .navbar .row {
  --bs-gutter-x: 0 !important;
}
header .navbar .row > * {
  padding-right: calc(var(--bs-gutter-x) * 0) !important;
}
header .navbar .content {
  font-size: 12px;
  margin: 10px 0 0 0;
}
header .navbar .search-block-form {
  margin: 10px 0 0 0;
}
header .navbar .search-block-form input {
  border-radius: 0;
  margin: -5px 0 0 0;
}
header .navbar .search-block-form .btn-primary {
  background-color: transparent;
}
header .navbar .search-block-form button {
  width: 40px;
  user-select: none;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/search.svg");
  padding: 7px 5px 5px 5px;
  border-radius: 0;
  margin: -5px 0 0 0;
  border-color: #ced4da;
}
@media (max-width: 426px) {
  header .navbar .views-row {
    display: none;
  }
}
header .navbar .views-row .views-field-field-banner .field-content img {
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
header .navbar .views-row .views-field-field-banner1 {
  margin: -430px 0 0 350px;
  font-size: 60px;
  color: white;
  font-weight: 300;
}
@media (max-width: 720px) {
  header .navbar .views-row .views-field-field-banner1 {
    margin: -430px 0 0 0;
    text-align: left;
  }
}
header .navbar .views-row .views-field-field-banner2 {
  white-space: nowrap;
  margin: 0 0 0 350px;
}
header .navbar .views-row .views-field-field-banner2 h5 {
  font-weight: 500;
  font-size: 37px !important;
}
@media (max-width: 720px) {
  header .navbar .views-row .views-field-field-banner2 {
    margin: 0 0 0 0;
    text-align: left;
  }
}
header .navbar .views-row .views-field-field-banner3 {
  width: 360px;
  margin: 0 0 0 350px;
}
header .navbar .views-row .views-field-field-banner3 h4 {
  font-size: 15px;
  color: #0a7bc1;
  font-weight: 300;
}
@media (max-width: 720px) {
  header .navbar .views-row .views-field-field-banner3 {
    margin: 0 0 0 0;
    text-align: left;
  }
}
/*# sourceMappingURL=header.css.map */
