.page-view-client {
  .dialog-off-canvas-main-canvas {
    #page-wrapper {
      #page {
        header {
          #navbar-main {
            max-width: 1250px;
            margin-top: 0;
          }
        }

        .highlighted {
          margin: 50px 0 0 0;
        }
      }
    }
  }
}

.view-clients {
  .row {
    margin: 50px 0 0 0;
    text-align: center;

    .views-col {
      padding: 0 0 30px 0;
    }

    .row-1 {


      @media (max-width: 480px) {
        display: grid;
        grid-template-columns: 1fr;

      }
    }

    .row-2 {


      @media (max-width: 480px) {
        display: grid;
        grid-template-columns: 1fr;

      }
    }

    .row-3 {


      @media (max-width: 480px) {
        display: grid;
        grid-template-columns: 1fr;

      }
    }

    .row-4 {


      @media (max-width: 480px) {
        display: grid;
        grid-template-columns: 1fr;

      }
    }
  }
}
@import "footer";
