@import "variables";
.page-view-team {
  .dialog-off-canvas-main-canvas {
    #page-wrapper {
      #page {
        header {
          #navbar-main {
            max-width: 1250px;
            margin-top: 30px !important;
            @media (max-width: 991px) {
              margin-top: 0;
            }
          }

          .navbar {
            box-shadow: 0px 0px 2px rgb(0 0 0 / 10%) !important;
          }
        }

        .highlighted {
          margin: 50px 0 0 0;
        }
      }
    }
  }

  .content {
    max-width: 1296px;
    margin: 0 auto;
  }
}

.our-team {
  text-align: center;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 40px 0 0 0;
    padding: 0;
    @media (max-width: 1400px) {
      width: 307px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      margin: 0 0 0 218px;
    }
    @media (max-width: 1200px) {
      width: 307px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      margin: 0 0 0 145px;
    }
    @media (max-width: 991px) {
      margin: 0 0 0 0 ;
      width: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }
    @media (max-width: 767px) {

      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
    }
    @media (max-width: 769px) {
      margin: 40px 0 0 30px;
    }

    @media (max-width: 426px) {
      margin: 40px 0 0 0;
    }
    .views-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      padding: 0;
      @media (max-width: 1400px) {
        width: 307px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
      }
      @media (max-width: 999px) {
        margin: 0 0 0 0 ;
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
      }
      @media (max-width: 767px) {

        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
      }
    }

    .views-row {
      width: 100% !important;
      margin: 0 0 40px 0;
      .node--view-mode-teaser{
        border-bottom: none;
      }

      .block-field-blocknodeteamtitle {
        .field--label-hidden {
          font-size: 24px;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
      .block-field-blocknodeteamfield-image{
        filter: grayscale(100%);
      }
      .block-field-blocknodeteamfield-image:hover{
        filter: grayscale(0%);
        transition: 1.5s;
      }
      .block-field-blocknodeteambody {
        .field__item {

          font-size: 16px;
          font-weight: 300;
          text-transform: uppercase;
          color: $border-color;
        }
      }

      .block-field-blocknodeteamfield-smd {
        display: flex;
        margin: 40px 0 0 0;

        .social-media-links--platforms {
          display: flex;
          font-size: 12px;
          margin: 10px 0 0 -115px;

          li {
            padding: 0 0 0 10px;
            path{
              color: $azure;
            }
          }
        }
      }

      .block-extra-field-blocknodeteamflag-add-to-favorite {
        margin: 30px 0 0 40px;

        .flag-add-to-favorite {
          margin: -58px 0 0 120px;
          width: 130px;
          height: 20px;
        }
      }

      .read-more {
        font-size: 16px;
        margin: -70px 0 0 0;

        a {
          font-size: 14px;
          color: $white;
          background: #373645;
          padding: 5px 5px 5px 5px;
          text-transform: uppercase;
          text-decoration: none !important;
        }
        a:hover{
          background-color: #373674;
        }
      }
    }
  }

  .pagination {
    background-color: transparent;
    margin: 60px auto;
    max-width: 1250px;
    justify-content: center;

    .page-link {
      padding: 6px 12px;
      color: black;
      border-radius: 50%;
      border-color: transparent;
      background-color: transparent;
    }

    .page-item:hover {
      a {
        background-color: $whitesmoke;
      }
    }
  }
}
@import "footer";
