$white: white;
$azure: #6E9BCA;
$black: black;
$blue: #0a7bc1;
$gray: #ced4da;
$border-color: #cccccc;
$red: #e03115;
$whitesmoke: #dadada;
$green: #49bd9b;
$pink: #9b58b5;
$light-red: #e84c3d;
$light-blue: #4aade0;
$white-dark: #f5f5f5;
$button-blue: #67bfdc;

$mobile: 480px;
$table: 600px;
$desktop: 960px;
$desktopExtraLarge: 1440px;
